.App {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  width: auto;
  resize: both;
  overflow: auto;
  margin-left: 25px;
  margin-right: 25px;
  height: 100vh;
}

#content {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.products {
  width: 100%;
  text-align: center;

  margin-bottom: 25px;
}

@media only screen and (min-device-width: 768px) {

  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .products {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 25px;
    justify-items: center;
    align-self: center;
    width: auto;

    margin-bottom: 25px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}